body{
    margin: 0 auto;
    width: 70%;
}

.header {
    background-image: url('../img/pattern.png');
    background-color: rgb(18, 142, 224);
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

#logo{
    width: 200px;
}

.author{
    color: grey;
}

.booleaner {
    color: rgb(16, 121, 187);
}

.first{
    width: 400px;
}

.evidenziato{
    background-color: yellow;
}

.list{
    padding: 20px;
}

.th{
    background-color: blue;
}

.celle{
    background-color: aqua;
}